jobs:
  include:
  - os: linux
    dist: xenial
    language: python
    python: "3.7"
    addons:
      apt:
        packages:
          - gcc-multilib
          - g++-multilib
    install:
      - sudo apt-get update
      - pip install conan
    before_script:
      - conan profile new default --detect
      - conan profile update settings.compiler.libcxx=libstdc++11 default
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - python make.py conan install_profiles
    script:
      - python make.py target linux_app conan
      - python make.py target linux_app build
      - python make.py target linux_app package
      - cd $TRAVIS_BUILD_DIR && cd dist/linux_app/Release/x86/ && ./Sample
      - cd $TRAVIS_BUILD_DIR && cd dist/linux_app/Release/x86_64/ && ./Sample
      - cd $TRAVIS_BUILD_DIR
  - os: osx
    osx_image: xcode11.2
    language: generic
    before_install:
      - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then mkdir $HOME/bin; ln -s $(which pip3) $HOME/bin/pip; fi
    install:
      - pip install conan
    before_script:
      - conan profile new default --detect
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - conan remote add darwin-toolchain https://api.bintray.com/conan/ezored/conan-darwin-toolchain
      - python make.py conan install_profiles
    script:
      - python make.py target macos_app conan
      - python make.py target macos_app build
      - python make.py target macos_app package
      - cd $TRAVIS_BUILD_DIR && cd dist/macos_app/Release/x86_64/ && ./Sample
      - cd $TRAVIS_BUILD_DIR
